.container {
  position: relative;
}

.loading {
  display:flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.map-container {
  display:flex;
  height: 100vh;
  width: 100vw;
}
.dim {
  opacity: 0.5;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: black;
  z-index: 1;
}

.none {
  display: none;
}

.date-picker input {
  width: auto;
}

.react-datepicker-outer-wrapper {
  display: inline-block;
}